body {
      font-family: Arial, sans-serif;
      background-color: #E1AEFF;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 40px;
      background-color: #F1D4E5;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }

    .container h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
      text-align: center;
    }

    .container input[type="text"],
    .container input[type="email"],
    .container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .container button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    .container button:hover {
      background-color: #555;
    }

    .container p {
      margin-top: 20px;
      text-align: center;
    }

    .container p a {
      color: #CD1818;
      text-decoration: none;
    }

    .container p a:hover {
      text-decoration: underline;
    }

    /* Social Icons */
    .social-icons {
      text-align: center;
      margin-top: 20px;
    }

    .social-icons a {
      display: inline-block;
      margin-right: 30px;
      color: #B799FF;
      font-size: 20px;
      transition: color 0.3s ease;
    }

    .social-icons a:hover {
      color: #fff;
    }